.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 576px;

    .form {
      display: flex;
      flex-flow: column;
      width: 100%;
      max-width: 578px;
    }

  }
}